<section id="banners">
<div id="carousel" class="carousel slide carousel-fade carousel-animate carousel-bg" data-ride="carousel" style="margin-top: 58px;">
    <!-- Indicators -->
    <!--     <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
        </ol> -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="max-height: 600px;">
        <div class="item active" style="background-image: url(images/banners/b1.jpg);">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item" style="background-image: url(images/banners/fems_banner.png);">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item" style="background-image: url(images/banners/b3.jpg);">
            <div class="carousel-caption">
                <div class="hero rollIn animated">
                    <hgroup class="rotateInDownRight animated">
                        <h1>Services</h1>
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Read More</button>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url(images/banners/b4.jpg);">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item" style="background-image: url(images/banners/amc.jpg);">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item" style="background-image: url(images/banners/seo.png);">
            <div class="carousel-caption">
                <div class="hero rollIn animated">
                    <h3 data-animation="animated bounceInLeft">
                        SEO Services
                    </h3>
                    <h3 data-animation="animated bounceInRight">
                        Providing best SEO services in the market.
                    </h3>
                    <button class="btn btn-primary btn-lg" data-animation="animated zoomInUp">Read more</button>
                </div>
            </div>
        </div>

        <!-- Controls
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
         -->
    </div>
</div>
</section>