
<!-- footer -->
<footer id="footer">
    <div class="container row_spacer clearfix">
        <div class="rows_container clearfix">
            <div class="col-md-3">
                <div class="footer_row">
                    <h6 class="footer_title">Technology Expertise</h6>
                    <p>Node.JS | Ruby on Rails | Java | PHP</p> 
                    <p>Microsoft .Net Technologies</p>
                    <p>Android | iOS</p>
                    <p>MS SQL Server | MySQL | Oracle 
                    <p>Mongo DB | NoSQL</p>                    
                </div>
            </div>  
            <div class="col-md-3">
                <div class="footer_row">
                    <h6 class="footer_title">Industries Expertise</h6>
                    <p>Education Management</p>
                    <p>Retail</p> 
                    <p>Travel &amp; Hospitality</p>
                    <p>Hotel Management</p>
                </div>
            </div>          
            <div class="col-md-3">
                <div class="footer_row">
                    <h6 class="footer_title">Our Services</h6>
                    <ul class="cat_list_widget1">
                        <li>
                            <a href="#">App Development</a>
                        </li>
                        <li>
                            <a href="service-enterprise.php">Product Engineering</a>
                        </li>
                        <li>
                            <a href="#">Support &amp; Maintenance</a>
                        </li>
                        <li>
                            <a href="#">Software Testing</a>
                        </li>
                        <li>
                            <a href="#">Business Consultation</a>
                        </li>
                        <li>
                            <a href="#">SEO Services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_row">
                    <h6 class="footer_title">Contact Us</h6>
                    <div class="c_con">
                        <p><a href="#" style="color : #16a085; font-size: 14px;">Ficus Teknology Solutions</a></p>
                        <span class="c_detail">
                            <span class="c_name">Phone : </span>
                            <span class="c_desc">India - +91-8946-07-4771</span>
                        </span>
                        <span class="c_detail">
                            <span class="c_name">Email :</span>
                            <span class="c_desc">info@ficustek.com</span>
                        </span>
                        <span class="c_detail">
                            <span class="c_name">Web : </span>
                            <span class="c_desc">www.ficustek.com</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="footer_copyright">
        <div class="container clearfix">
            <div class="col-md-8" >
                <span class="footer_copy_text">Copyright © 2017 <a href="#" style="color : #16a085;">Ficus Teknology Solutions</a> All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
