<style>
.navbar-nav > li > a {
    color: #fff;
    padding: 18px;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 550;
}

div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}   
</style>

<section id="home">
<nav class="navigation_bar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="./images/ficustek_logo.png">
        </div>     

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#products">Products</a></li>
                <!-- /
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Consultation</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Testing</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">SEO Enablement</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Maintenance</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Support</a></li>                      
                    </ul>
                </li>
                 -->
                 <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
<div  style="height: 2px; background-color: #35c4b0bd;">
</div>    
</nav>
</section>