<style>
    .parallax { 
    /* The image used */ 
    //background-image: url("images/banners/ENGINEERING-1.jpg"); 
    background-color : #757688;
    /* Set a specific height */ 
    min-height: 500px; 
    /* Create the parallax scrolling effect */ 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; }


    /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
    @media only screen and (max-device-width: 1024px) {
        .parallax { background-attachment: scroll; }
    }
</style>
<a id="scrollUp" href="#top" style="position: fixed; z-index: 14748364; display: block;"><i class="glyphicon  glyphicon-chevron-up"></i></a>

<section id="products">
<div class="parallax">
    <div>
        <div class="container">
            <div class="col-sm-12" style="margin-top: 50px;">
                <div class="main_title centered upper">
                    <h2 style="color: #dae4e4">
                        <span class="line"><span class="dot"></span></span>
                        Products
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6" id="about-logo">
                        <p style="color: white">Ficus offers best solution for all type of educational institutes to automate data management process. Any institues looking for the best management software for schools, colleges or any institutes, our solution will fulfill your requirments. Our core team can understand client requirements and expectations to deliver a user-friendly software applications.</p>
                        <ul class="cat_list_widget">
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>
                                <a href="#"> &nbsp; Student Mangement</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Staff Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Admission Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Attendance Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Examination Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Library Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Transport Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i><a href="#"> &nbsp; Class/Sections/Subject Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Fees Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Holiday/Schedule Management</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="images/banners/fems1.png" id="about-logo">
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="images/banners/ecommerce1.png" id="about-logo">
                    </div>                
                    <div class="col-sm-6" id="about-logo">
                        <p style="color: white">E-commerce solution can bring you offline retail business to online which increase your sales, reduce operation costs, and grab the attention of target customers. The success of the software in your platform will depend on the features that are chosen.</p>
                        <ul class="cat_list_widget">
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>
                                <a href="#"> &nbsp; Catalog Management</a>
                            </li>                        
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>
                                <a href="#"> &nbsp; Efficient Product Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Orders Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Price Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Inventory Management</a>
                            </li>                            
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Online Payments</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Offers/Discounts Management</a>
                            </li>                              
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Reports</a>
                            </li>
                        </ul> 
                    </div>                     
                </div>                
                <div class="row">
                    <div class="col-sm-6" id="about-logo">
                        <p style="color: white">Web based hospital management solution with many features to operate hospitals. Solution comes with Admin, Doctor, Patient and Nurse Portals.</p>
                        <ul class="cat_list_widget">
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>
                                <a href="#"> &nbsp; Manage Departments</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Patient Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Doctor Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Patient Reports</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Appointment Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Manage Bed Availabity</a>
                            </li>                            
                        </ul>                         
                    </div>    
                    <div class="col-sm-6">
                        <img src="images/banners/hsms.png" id="about-logo">
                    </div>                                      
                </div>  
                <div class="row">
                    <div class="col-sm-6">
                        <img src="images/banners/retail.png" id="about-logo">
                    </div>                
                    <div class="col-sm-6" id="about-logo">
                        <p style="color: white">The need of a powerful POS software is inevitable keeping in mind and we offering customized soltions to any type of retail business to automated and handle daily transactions. Our solution can help you to manage Purchase, Sales, Inventory, PRoducts, Pricing, Discounts and Schemes.</p>
                        <ul class="cat_list_widget">
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>
                                <a href="#"> &nbsp; Product Managment</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Customer/Vendor Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Price Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Purchase Cycle</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Sales Cycle</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Inventory Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Integration with Third Party Applications</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Mobile Orders</a>
                            </li>                                                            
                        </ul>                        
                    </div>
                </div>
                <div class="row">              
                    <div class="col-sm-6" id="about-logo">
                        <p style="color: white">Hotel Management Solution comes with enriched UI with powerful web application which can help you to manage hotel operations trouble-free. The system seamlessly integrates Reservations, Front Office, Housekeeping, along with your Restaurants, Travel Desk etc. </p>
                        <ul class="cat_list_widget">
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>
                                <a href="#"> &nbsp; Front Office Managment</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i>  <a href="#"> &nbsp; Rooms Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i></i> <a href="#"> &nbsp; Price Management</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Online Booking</a>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; House Keeping</a>
                            </li> 
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Inventory Management</a>
                            </li>                                                         
                            <li>
                                <i class="glyphicon glyphicon-edit"></i> <a href="#"> &nbsp; Reports</a>
                            </li>
                        </ul>                         
                    </div>
                    <div class="col-sm-6">
                        <img src="images/banners/hms2.png" id="about-logo">
                    </div>                                                                
                </div>                
            </div>
        </div>
    </div>
</div>
</section>