<style>
.cont-submit {
    background: #fff;
    border: 1px solid #16a085;
    color: #16a085;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 30px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
}
</style>
<section id="services">

<div class="container">
  <div class="col-sm-12" style="margin-top: 50px;">
    <div class="main_title centered">
        <h2>
            <span class="line"><span class="dot"></span></span>
            Services Offering
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="single-about mb-30 text-center">
                <div class="about-icon rotate">
                    <i class="glyphicon glyphicon-briefcase"></i>
                </div>
                <div class="about-text">
                    <h3>Application Development</h3>
                    <p style="margin-bottom: 20px;">IT has become an integral part of every business and plays a key role in accelerating time-to-market, reducing cost and providing a better and predictable service. We use agile enough to meet today’s changing demands and give you predictable operational costs.</p>
                </div>
                <a href="main" class="cont-submit">more...</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="single-about mb-30 text-center">
                <div class="about-icon rotate">
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="about-text">
                    <h3>Product Engineering</h3>
                    <p style="margin-bottom: 20px;">The advent of Web 2.0 technologies and utility based software delivery through Software as a Service (SaaS) has led to the process of gradual transformation of client enabling engineering services from traditional software engineering to product engineering.</p>
                </div>
                <a href="#" class="cont-submit">Read More</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="single-about mb-30 text-center">
                <div class="about-icon rotate">
                    <i class="glyphicon glyphicon-link"></i>
                </div>
                <div class="about-text">
                    <h3>Consulting Services</h3>
                    <p style="margin-bottom: 20px;">We provide you inputs on infra, design, technology and current-trend roadmaps by combining creative thinking, technology expertise, and global reach. At the same time, customers are increasingly demanding simple, new, and convenient experiences.</p>
                </div>
                <a href="#" class="cont-submit">Read More</a>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="single-about mb-30 text-center">
                <div class="about-icon rotate">
                    <i class="glyphicon glyphicon-pushpin"></i>
                </div>
                <div class="about-text">
                    <h3>Support &amp; Maintenance</h3>
                    <p style="margin-bottom: 20px;">We enable your existing software application or future releases to meet your business requirements and challenges in an effective manner. Outsourcing your maintenance and support services to us will ensure that your software has a competitive edge to address all your business requirements.</p>
                </div>
                <a href="#" class="cont-submit">Read More</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="single-about mb-30 text-center">
                <div class="about-icon rotate">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
                <div class="about-text">
                    <h3>Software Testing</h3>
                    <p style="margin-bottom: 20px;">QA testing process purifies each and every insight of an application by co-relating all such pre-defined objectives. For better usability, it is necessary that each application must undergo quality of testing services which enables faster time to market for your next-gen application or mobile app with measurable quality.</p>
                </div>
                <a href="#" class="cont-submit">Read More</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="single-about mb-30 text-center">
                <div class="about-icon rotate">
                    <i class="glyphicon glyphicon-send"></i>
                </div>
                <div class="about-text">
                    <h3>SEO Services</h3>
                    <p style="margin-bottom: 20px;">Best SEO services will help your business to gain online visibility and increase ROI. we ensure that our service always remain competitive with top search engine rankings. Our plans include a protocol to be followed according to your SEO needs either deficiency or top ranking.</p>
                </div>
                <a href="#" class="cont-submit">Read More</a>
            </div>
        </div>
    </div>
  </div>  
</div>    
</section>