<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  

	<link href="css/social_media.css" rel="stylesheet">

	<!-- Banner  -->
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/demo.css" rel="stylesheet">  
	<link href="css/style.css" rel="stylesheet">

	<!-- Fstyle Footer -->
	<link rel="stylesheet" href="stylesheets/fstyle.css">

	<!-- Blustyle Footer -->
	<link rel="stylesheet" href="stylesheets/blustyle.css">

	<!-- Cube Service Box -->
	<!-- <link rel="stylesheet" href="stylesheets/servicebox_cube.css"> -->

	<!-- Cube Service Box -->
	<!-- <link rel="stylesheet" href="stylesheets/servicebox_plain.css"> -->
	<link href="css/navbar.css" rel="stylesheet">
	{{>header}}
	<title>Ficus Teknology Solutions | Web/Mobile App Development | Product Engineering | Business Consulting </title>
	
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5a9423bfd7591465c7080782/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->


</head>
<body class="preloader3 dark_sup_menu light_header">

{{>navbar}}
{{>banner}}
{{>aboutus}}
{{>services}}
{{>products}}
{{>contactus}}
{{>footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/demo.js"></script>  
</body>
</html>
