<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
  bootstrap.min.css">

		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!-- Animate.css library -->
		<link href="css/animate.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="css/demo.css" rel="stylesheet">  
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/settings.css" media="screen" />
		<link rel="stylesheet" href="stylesheets/fstyle.css">
		<link rel="stylesheet" href="stylesheets/servicebox.css">
		<link rel="stylesheet" href="stylesheets/servicebox_plain.css">
		<link rel="stylesheet" href="stylesheets/servicebox_cube.css">
		<link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css" media="all" />
			<link rel="stylesheet" href="stylesheets/icon-fonts.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>	
  {{>header}}
  <title>Express Tutorial</title>
</head>
<body class="preloader3 dark_sup_menu light_header">

{{>navbar}}

{{>footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="scripts/demo.js"></script>  
</body>
</html>
